.DS_Store

.idea/
.vscode/

node_modules
/build
/.svelte-kit
/package
!.env.example

.dfx
target
out/

internet_identity.wasm
/internet_identity.did
ledger.private.did
ledger.public.did
ledger.wasm
ledger.wasm.gz
cmc.wasm
cmc.wasm.gz
console.wasm
mission_control.wasm
observatory.wasm
satellite.wasm