[workspace]
members = [
    "src/console",
    "src/mission_control",
    "src/satellite",
    "src/shared",
    "src/observatory",
    "src/orbiter",
    "src/libs/satellite",
    "src/libs/macros"
]

[workspace.dependencies]
candid = "0.9.11"
ic-cdk = "0.11.4"
ic-cdk-macros = "0.8.1"
ic-ledger-types = "0.8.0"
serde = "1.0.190"
serde_cbor = "0.11.2"