[package]
name = "satellite"
version = "0.0.14"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[dependencies]
candid.workspace = true
ic-cdk.workspace = true
ic-cdk-macros.workspace = true
serde.workspace = true
junobuild-satellite = { path = "../libs/satellite", features = ["disable_on_set_many_docs", "disable_on_delete_doc"] }
junobuild-macros = { path = "../libs/macros" }
junobuild-utils = { path = "../libs/utils" }
shared = { path = "../libs/shared" }

