name: Backend tests

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'src/satellite/**'
      - 'src/console/**'
      - 'src/sputnik/**'
      - 'src/libs/auth/**'

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: '--cfg getrandom_backend="custom"'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Add wasm targets
        run: |
          rustup target add wasm32-unknown-unknown
          rustup target add wasm32-wasip1

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-v1
          restore-keys: |
            cargo-${{ runner.os }}-

      - name: Tests
        run: ./scripts/cargo.tests.sh -- --nocapture

  may-merge:
    needs: ['test']
    runs-on: ubuntu-latest
    steps:
      - name: Cleared for merging
        run: echo OK