name: Tests

on:
  pull_request:

jobs:
  docker-build-base:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Base Docker Image
        uses: ./.github/actions/docker-build-base

  docker-build:
    runs-on: ubuntu-latest
    needs: docker-build-base

    strategy:
      matrix:
        include:
          - name: satellite
            wasm: satellite.wasm.gz
            target: scratch_satellite

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ${{ matrix.name }}
        uses: docker/build-push-action@v3
        with:
          file: Dockerfile
          cache-from: type=gha,scope=cached-stage
          # Exports the artefacts from the final stage
          outputs: ./out
          target: ${{ matrix.target }}

      - run: mv out/${{ matrix.wasm }} ${{ matrix.wasm }}

      - name: Upload ${{ matrix.name }}
        uses: actions/upload-artifact@v3
        with:
          # name is the name used to display and retrieve the artifact
          name: ${{ matrix.wasm }}
          # path is the name used as the file to upload and the name of the
          # downloaded file
          path: ./${{ matrix.wasm }}

  tests:
    runs-on: ubuntu-latest
    needs: docker-build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download satellite.wasm.gz
        uses: actions/download-artifact@v3
        with:
          name: satellite.wasm.gz

      - name: Install dependencies
        run: npm ci

      - name: Tests
        run: npm run test

  may-merge:
    needs: ['tests']
    runs-on: ubuntu-latest
    steps:
      - name: Cleared for merging
        run: echo OK
